/*************************** TAG SELECTORS ****************************/

h1 {
    color: red;
    font-size: 200px;
}

/* Pseudo classes - Only apply the style when the given action is performed */
img:hover {
    background-color: gold;
}


/*************************** CLASS SELECTORS ****************************/

.bacon {
    background-color: green;
}

.brocoli {
    background-color: red;
}

.circular {
    border-radius: 100%;
}

/*************************** ID SELECTORS ****************************/

#heading {
    color: blue;
}