body {
    margin: 0;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

h1 {
    margin: 50px auto 0px;
    font-family: 'Rock Salt', cursive;
    font-size: 3.5rem;
    color: #fa882b;
    line-height: 2;
}

h2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 2.5rem;
    color: #FFAE6D;
    font-weight: 700;
}

h3 {
    font-family: sans-serif;
    color: #fa882b;
}


hr {
    border-style: none none dotted;
    width: 15%;
    margin: 50px auto;
    size: 40px;
    border-width: 8px;
    border-color: #ffaa0c;
}

/******************* CLASS SELECTORS *******************/

.top-container {
    background-color: #ffe7c7;
    padding-top: 100px;
    position: relative;

}

.profile-picture {
    height: 220px;
    width: 220px;
}

.middle-container {
    padding: 20px 0;

}

.profile {
    margin: 0 auto;
    width: 50%;
}

.animal-game {
    float: left;
    margin-right: 30px;
}

.cigarette {
    float: right;
    margin-left: 30px;
}

.skill-row {
    width: 50%;
    margin: 50px auto 150px auto;
    text-align: left;
    line-height: 2;
}

.skill-row-image {
    width: 200px;
}

.war {
    text-decoration: underline;
}

.bottom-cloud {
    position: absolute;
    left: 30%;
    bottom: 200px;
}

.top-cloud {
    position: absolute;
    top: 30px;
    right: 25%;
}

.contact-me {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.bottom-container {
    padding: 40px;
    background-color: #F3E0B5;
}

.btn {
    -webkit-border-radius: 15;
    -moz-border-radius: 15;
    border-radius: 15px;
    color: #000000;
    font-size: 1.5rem;
    background: #ffb700;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #fc8200;
    text-decoration: none;
}

.contact-me-bottom-text {
    margin-bottom: 70px;
}

.footer-link {
    margin: 20px 15px;
    color: #fc8200;
    text-decoration: none;
}

.footer-link:hover {
    color: #fc1d00;
}

.copyright-text {
    margin-top: 40px;
    color: #ff9100;
}